{% extends "techniques/expert.j2" %}
{% block expert %}Planner{% endblock %}
{% block prompt %}
Your task is:

{{ task }}

Provide the next step that should be taken in the provided format.  Stay focused on only the task at hand.

Play to your strengths as an LLM and pursue simple strategies with no legal complications.  When the task is complete based on the Steps already taken, return the finish ability.

{% if constraints %}
## Constraints
You operate within the following constraints:
{% for constraint in constraints %}
- {{ constraint }}
{% endfor %}
{% endif %}

{% if resources %}
## Resources
You can leverage access to the following resources:
{% for resource in resources %}
- {{ resource }}
{% endfor %}
{% endif %}

{% if actions %}
## actions
You have access to the following actions you can call:
{% for action in actions %}
- {{ action }}
{% endfor %}
{% endif %}

{% if best_practices %}
## Best practices
{% for best_practice in best_practices %}
- {{ best_practice }}
{% endfor %}
{% endif %}

{% if previous_actions %}
## Actions already taken
These are the previous actions executed during previous steps that have been taken in order with the first action at the top and the most recent
action at the bottom of the list.  The `reason` field explains the reasoning about why that that action was taken and the `output` shows what the output of the action was.
{% for action in previous_actions %}
- ability: {{ action.name }}
  reasoning: {{ action.reason }}
  args: {{ action.args }}
  output: {{ action.output }}
{% endfor %}
{% else %}
## Steps already taken
No steps have been taken yet.
{% endif %}
{% endblock %}